.btn {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 1rem;
    border-radius: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    min-width: 120px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 10px 13px 54px 3px rgba(61,61,209,1); 
    transition: all 0.3s;
}

.outlined-btn {
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--blue);
    padding: 1rem 1rem;
    border-radius: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    min-width: 120px;
    text-align: center;
}

.outlined-btn:hover {
    cursor: pointer;
}