.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1.5rem 3rem;
}

.links {
    display: flex;
    gap: 1.5rem;
}

.link {
    color: var(--gray);
}

.link:hover {
    color: var(--white);
    transition: 0.4s all;
}

.header-drawer {
    display: none;
}


@media only screen and (max-width: 800px) {

    .links {
        display: none;
    }

    .header-drawer {
        display: block;
    }

    .drawer-links {
        background-color: var(--black);
        width: 40vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        font-size: 1rem;
    }

    .navbar {
        padding: 1.2rem;
    }

  }